@font-face {
  font-family: Segoe;
  src: url("../Segoe/SegoeUILight.ttf");
}
body{
  font-family: Segoe;
}
@mixin HeadinPart{
  h2{
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 30px;
  }
}
.commonLine{
  border: 1px solid lightgray;
}
header{
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
    .logoPartOne{
      width: 40%;
      @media screen and(max-width: 992px) {
        width: 100%;
      }
      ul{
        li{
          list-style: none;
          margin-right: 20px;
          img{
            @media screen and (max-width: 1281px){
              max-width: 120px;
            }
          }
          h4{
            margin-top: 30px;
          }
        }
      }
    }
    .logoPartTwo{
      width: 60%;
      @media screen and(max-width: 992px) {
        width: 100%;
      }
      ul{
        display: flex !important;
        @media screen and(max-width: 992px) {
          display: block !important;
        }
        li{
          list-style: none;
          img{
              max-width: 250px;
          }
        }
      }
    }
}
#navigatioBar{
  padding: 10px;
  width: 100%;
  background: #1195c6;
  .container{
      ul{
        margin: 0;
        display: flex;
        padding: 0;
        li{
          list-style: none;
          margin-left: 15px;
          a{
            text-decoration: none;
            color: #fff;
          }
        }
    }
    .row{
      .secondPart{
        ul{
          float: right;
        }
      }
    }
  }
}
footer{
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
  h5{
    margin-top: 10px;
  }
  h6{
    font-weight: 600;
  }
  .partTwo{
    ul{
      padding: 0;
      li{
        list-style: none;
        a{
          color: #1195c6;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }

  }
  .partThree{
    ul{
      padding: 0;
      li{
        list-style: none;
        color: #1195c6;
        font-size: 14px;
      }
    }
  }
  .partFour{
    .contactList{
      padding: 0;
      li{
        list-style: none;
        margin-right: 15px;
        a{
          text-decoration: none;
          i{
            font-size: 1.5em;
            color: #1195c6;
            border: 2px solid #1195c6;
            border-radius: 100%;
            padding: 7px 14px;
          }
          .fa-instagram{
            padding: 7px 10px;
          }
          .fa-youtube{
            padding: 7px 5px;
          }
        }
      }
    }
  }
  .huquq{
    float: right;
  }
}


#withLayout{
  width: 100%;
  padding-top: 20px;
  .commonContent{
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    .header{
      padding: 20px;
      background: #1195c6;
      padding-bottom: 10px;
      padding-top: 10px;
      h6{
        color: #fff;
      }
      .f{
        margin-top: -22px;
        float: right;
        font-size: 14px;
        a{
          text-decoration: none;
          color: #FFFFFF;
        }
      }
    }
    .contactUs{
      padding: 20px;
      .map{
        margin-top: 30px;
      }
      p{
        span:first-child{
          font-weight: 700;
        }
      }
      form{
        input{
          margin-bottom: 10px;
          border: 1px solid #1195c6;
        }
        textarea{
          resize: none;
          margin-bottom: 10px;
          border: 1px solid #1195c6;

        }
        button{
          float: right;
          background: #1195c6;
          border: #1195c6;
        }
      }
    }
    .hemweBizimle{
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      .myForms{
        .row{
          border: 1px solid #1195c6;
          padding-top: 10px;
          padding-bottom: 25px;
          position: relative;
          box-sizing: border-box;
          margin-top: 10px;
          .cmm{
            width: fit-content;
            text-align: center;
            @media screen and(max-width: 778px) {
              width: 100%;
            }
            img{
              border: 1px solid gray;
              border-radius: 100%;
            }
            h5{
              text-transform: uppercase;
            }
          }
          a{
            position: absolute;
            right: 40px;
            bottom: 10px;
            border: 1px solid #1195c6;
            border-radius: 20px;
            padding: 5px 20px;
            color: #1195c6;
            text-decoration: none;
            transition: all .3s ease;
            &:hover{
              color: #ffffff;
              background: #1195c6;
            }
            @media screen and(max-width: 778px) {
              position: relative;
              margin: 0 auto;
              right: 0;
              bottom:0px;
            }
            i{
              font-size: 0.9em;
            }
          }
          h5{
            font-weight: bold;
          }
        }
      }

    }
    .navigator{
      padding-top: 30px;
      padding-bottom: 30px;
      ul{
        border: 1px solid gray;
        border-radius: 4px;
        margin-left: 33px;
        padding: 0;
        li{
          list-style: none;
          transition: all .3s;
          &:hover{
            background: #1195c6;

          }
          a{
            color: gray;
            padding-left: 5px;
            padding-right: 5px;
            text-decoration: none;
          }

          &:hover a{
            color: #fff;

          }
        }
        li:not(:last-child){
          border-right: 1px solid gray;
        }
      }
    }
    .meqaleler{
      padding-bottom: 25px;
      .tbCn {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        margin-top: 30px;
        .cnt{
          .col-12{
            margin-top: 30px;
          }
          .row{
            margin-top: 25px;
          }
          h5{
            font-size: 18px;
            font-weight: 700;
          }
          p{
            font-size: 14px;
          }
          a{
            padding: 5px 24px;
            color: #fff;
            border: 1px solid #1195c6;
            transition: all .3s ease;
            border-radius: 4px;
            background: #1195c6;
            text-decoration: none;
            &:hover{
              color: #1195c6;
              background: #fff;
            }
          }
        }

        .navigator{
          padding-top: 30px;
          padding-bottom: 30px;
          margin-left: -32px;
          ul{
            border: 1px solid gray;
            border-radius: 4px;
            padding: 0;
            li{
              list-style: none;
              transition: all .3s;
              &:hover{
                background: #1195c6;

              }
              a{
                color: gray;
                padding-left: 5px;
                padding-right: 5px;
                text-decoration: none;
              }

              &:hover a{
                color: #fff;

              }
            }
            li:not(:last-child){
              border-right: 1px solid gray;
            }
          }
        }
      }

    }
    .merkezinTarixi{
      padding: 15px;
      img{
        width: 100%;
      }
    }
    .kitablar{
      padding: 15px;
      .col-12{
        margin-top: 10px;
      }
      .photo{
        position: relative;
        img{
          width: 100%;
        }
        p{
          position: absolute;
          bottom: 0;
          padding: 5px;
          background: rgba(17, 149,198,0.7);
          margin: 0;
          color: #fff;
        }
      }
    }
    .meqalelerFirst{
      padding: 15px;
      h6{
        font-weight: 700;
      }
      span{
        i{
          color: #1195c6;
        }
      }
      p{
        margin-top: 10px;
      }
    }
    .xeberler{
      padding: 15px;
      .common{
        margin-top: 10px;
        .photo{
          img{
            width: 100%;
          }
        }
        .content{
          span{
            font-weight: 600;
          }
          h6{
            font-weight: 700;
            transition: all .3s ease;
            &:hover{
              color: #1195c6;
            }
          }
        }
      }
    }
    .tedbirler{
      padding: 15px;
      .naviqator{
        ul{
          display: flex;
          padding: 0;
          li{
            list-style: none;
            margin-right: 10px;
            font-weight: bold;
            font-size: 16px;
            padding: 5px 25px;

          }
          .activeMenu{
            background: #1195c6;
            color: #fff;
            padding: 5px 25px;
          }

        }
      }
      .contents{
        .col-4{
          margin-top: 10px;
        }
        .photo{
          position: relative;
          img{
            width: 100%;

          }
          div{
            position: absolute;
            bottom: 0;
            width: 100%;
            color: #fff;
            padding: 5px;
            background: rgba(250,0,0,0.6);
            span:last-child{
              float: right;
            }
          }
        }
        .content{
          background: #1195c6;
          padding: 5px;
          color: #fff;
        }
      }
    }
  }
}




